body {
    font-family: helvetica; /*fixes all the font for the page*/
}

/*header content*/
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
}

.backbutton {
    background-color: #8d8d8d;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.header-text {
    margin: 0; 
    flex-grow: 1; 
    text-align: center;
    
}

/*main page background*/
.mainpage {
    background-color: #c0ce01;
    padding: 10px;
    text-align: center;
}

/*form details*/
.formtitle {
    text-align: center;
}

label {
    display: inline-block;
    text-align: right;
    padding: 12px;
}

div {
    display: inline-block;
    text-align: left;
}

/*footer*/
footer {
    background-color: #000000;
    color: white;
    padding: 10px;
}