/*background image of nct*/
.coverpagebody { 
    background-image: url('images/nctnation_cinemaposter.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*responsive*/
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

/*button for next page*/
.button {
    background-color: #000000;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    width: 420px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 96px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Hauptbahnhof;
    }