/*CSS for html page*/
html {
    background-color: #c0ce01;
}

body {
    font-family: helvetica;
}

/*header section*/
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom: 40px;
    background-color: #ffffff;
    color: #000000;
}

.backbutton {
    background-color: #8d8d8d;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    margin-right: 10px;
}

.header-text {
    margin: 0; 
    flex-grow: 1; 
    text-align: center;
}

/*navigation bar*/
nav {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    background-color: white;
    justify-content: space-between;
    display: flex;
}

.navheader {
    text-align: center;
    color: black;
}

.img-container {
    position: relative;
}

/*member details section*/
.memberimg {
    height: 1024px;
     object-fit: cover;
    object-position: 20% 20%; 
    display: block;
    width: 100%;
}

.membername {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b3b3b3;
    border-radius: 45px;
    color: black;
    padding: 15px 32px;
    font-size: 64px;
    text-align: center;
}

.memberinfo {
    text-align: center;
}

/*responsive code*/
.flex-container {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

/*social media section*/
#Socials {
    text-align: center;
}

.social {
    width: 50px;
    height: 50px;
}

/*fansites section*/
#Fansites {
    text-align: center;
}

.fansite {
    flex-basis: 30%;
    text-align: center;
    margin: 10px;
    text-decoration: none;
    color: black;
}

.fansiteicon {
    width: 100px;
    height: 100px;
}

/*pc template section*/
#PCtemplate {
    text-align: center;
}

.pocatemplate {
    width: 100%;
}

/*footer with signup form*/
.formlink {
    background-color: #7d7d7d;
    color: white;
    padding: 30px;
    text-align: center;
    }

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
}